body{
    
    display: flex;
    justify-content: center;

}

.container{
    margin-top: 90px;
    width: 280px;
    height: 405px;
    box-shadow: 0px 15px 50px  rgba(0,0,0,0.4);
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    padding:30px;
    text-align: center;
    
 }


.container input{
   
    margin-bottom: 7px;
    font-size: 28px;
    padding: 20px;
    width: 265px;
    height: 60px;
    border-radius: 18px;
}
.container input:hover{
    background: linear-gradient(120deg,deeppink,white);
}
.container button{
    background-color:white;
    font-size: 21px;
    width: 45;
    height: 45px;
    border-radius: 23px;
    margin-left: 16px;

    
  
}
.container  button:hover{
   background: linear-gradient(130deg, deeppink,white);
}
.container .cd button{
    margin-top: 4px;
    width:113px;
    height: 55px;
    margin-bottom: 0;

}
    
